<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Lib4NetLogPath" value="~/config/Lib4NetLog.xml" />
    <add key="pub_key" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt/9IHogblShYbSnr/ldpBux2Mpo/4Qe5kYe1sRoSTCuTq2fPoV8HmNUG/Rx3kjfZgu/sVugXsnRk11842F/L1I0COqbcJQEQE1+SdVvQnvMApHSW8fzO0OdtHicLrLrvuN5FUUrOF9cX59rL7lcw9RuQJqd4yGPyljPSxaBqOh/+JGncrWjaePqgW8Y2zU569hQcPApfgQo2dnptH71KqYh1ZaHZqHNPmp7ckIzS/Gq+kDvFvOxjnr8mxhrXCQ3s/N3EWCzQ/StTbhxOM0WY/HYcCx/28sv997KW5ILI2vnh9rqlXZlE0/wOr8eE+HiqutOORWCTCwHEznBRAdjCFwIDAQAB" />
    <add key="es_key" value="V4R84666226HFB6DX4N480RJP480XH0D" />
    <add key="hw_channel_no" value="105" />
    <add key="zd_channel_no" value="106" />
    <add key="jsyh_channel_no" value="107" />
    <!--版本号 1开发 2测试 3预生产 4生产-->
    <add key ="version" value="2"/>
    <add key="tcp_server" value="192.168.5.33"/>
    <add key="tcp_server_port" value="1234"/>
    <!--微信支付方式:1.直接微信支付:weixin,2.调用平安银行微信支付:pingan-->
    <add key="wxPayMtd" value="weixin"/>
    <add key="open_id" value="44827dfaec37f61095d2d8a4c94e58a3"/>
    <add key="open_key" value="e03288664871b17043fb4fbab635744a"/>
    <add key="pingan_interface" value="https://api.orangebank.com.cn/mct1/"/>
    <add key="pingan_refund_pwd" value="147258"/>
    <add key="wap_url" value="http://hwsh.qianxingniwo.com/hwpayment.html"/>
    <add key="wap_name" value="华为生活"/>
    <add key="pa_pri_key" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBANj/b31B7OEIFDylp+gwwfylia5ybIls1ZrR9LO0213QQJ9byVOZ1v+6/YATS03KyRQd6Wx8eWFtt+E45iWzHS0aHxJHmejLtYnuHPPULOwBSX+lkkcujicO3TOJIbv+1CGkBNRK4jWvw45Lqh7qZmhOpYm6GIsAWU2YIeXy6oBxAgMBAAECgYBejed50Bk08T1IM/LXNS/CNCurTQbIVxk4rhYPnFYeKdmO1wMCH73UjxlZDo84pY0669HDyPVnI9UFGbMHaGXkbN7EWAA5Zl1MRzgdTvaA7aUXI5/8GBjElXK6tC3XFCepjK30g5p02vVf51mILgkl9lwWb6vz2kSAHDENZk0kAQJBAOwXSkqe++3FyHlYf/c3bONdjGrDxmzNIBD3Puel1p+FsrpBilQHd+lM5/Teu1BsCVtd++ko0eR+Enqse7C7ccECQQDrS/amkOXw6H9kUquKhdpyNwer4Af31EuBd8MjcmHfJt3Rtyh+o/Itm3WXqGwzzCHDSrz7Dqeru96fMRvqE1qxAkEA2+46U9dUwsRbo8bwtmCYfBm6Y/7qipJvy743iF3x2HsY6u+BKBQo/VmaP395qUprUQT1Vdej56IWHtctBo8nQQJBAJP89AWxDp4lbLIpeLCoHUtGpzGHtxs9T7v/GiF6OGpEpLDY9MQp0xCyPRSEnoE5e2a74/43KmfNwmf3WCoxwBECQHuySxO3JtX0dbDubWWd8gSzljHQwtgWDDFALLXBXtKJ8xQWTOiEBUdH/JxkBbixFjUDTRpAN/rS4AvRoT/aO+E="/>
    <add key="redisConn" value="server=192.168.106.107:16100,192.168.106.107:16200;max pooled size=10;"/>
  </appSettings>

  <connectionStrings>
    <add name="db_str" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.210)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=zdws;Password=123456;Pooling=true;Max Pool Size=20" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="kk" path="*.html" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
