<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>

  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.5.202" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="1000" />
    </memcached>
  </enyim.com>
  <appSettings>
      <add key="ClientValidationEnabled" value="false"/>
      <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
      <add key="BusinessLogicPath" value="~/config/BusinessLogic.xml"/>
      <add key="DataAccessPath" value="~/config/DataAccess.xml"/>
      <add key="MessagePath" value="~/config/ErrorCode.xml"/>
      <add key="SettingsPath" value="~/config/Settings.xml"/>
      <add key="routepath" value="~/config/MapRoute.xml"/>
      <add key="UrlMapping" value="~/config/UrlMappingConfig.xml"/>
      <add key="CacheConfigPath" value="~/Config/CacheConfig.xml"/>
      <add key="Lib4NetLogPath" value="~/config/Lib4NetLog.xml"/>
      <add key="SystemNo" value="ZDWS"/> <!--ZDWS-->
      <!--<add key="remote_memcache_address" value="http://192.168.5.200:8085/MemcacheHandler.ashx"/>-->
  </appSettings>
  <connectionStrings>
      <add name="db" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.210)(PORT=1521))(CONNECT_DATA= (SERVER = DEDICATED)(SERVICE_NAME = orcl)));User Id=zdws;Password=123456;Pooling=true" providerName="Oracle.DataAccess.Client"/>
      <!--<add name="dbus" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.210)(PORT=1521))(CONNECT_DATA= (SERVER = DEDICATED)(SERVICE_NAME = orcl)));User Id=UserSystem;Password=abc123;Pooling=true" providerName="Oracle.DataAccess.Client"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>