/****用户完成注册*****/
em{ color:#F00; margin-right:5px; font-style:normal;}
.register{width:1040px; margin:0 auto; font-size:12px;margin-top:12px;}
.register a{color:#0170dc;}
.annotation{ width:980px;  height:32px;line-height:32px; color:#666666;}
.annotation_left{ width:400px; float:left; color:#FFF;}
.annotation_right{ width:240px; float:right; }
.annotation_img{ margin:7px 5px 0 0;float:left;}
.annotation_text{ color:#ff6c02; font:bold;width:80px; float:left; line-height:39px;}
.annotation_text1{float:left;line-height:39px;}

.register_title{ clear:both; width:980px; color:#666666; background:url(/Content/images/register3.gif) repeat-x; height:60px; line-height:60px;}
.register_left{ width:610px; float:left; font-size:20px; padding-left:30px; font-weight:bold;}
.register_right{ width:320px; float:left; text-align:right; padding-right:20px;}
.register_table{ font-size:14px; color:#666666;}
.register_table .td_lh50{ height:50px; line-height:50px;}
.register_table .td_lh35{height:35px; line-height:35px;}
.register_input{width:258px; font-size:22px; height:33px; border:1px solid #a7a6aa; background:url(/Content/images/input_bg.gif) no-repeat; color:#888888;line-height:33px; margin-right:10px; vertical-align:middle;}
.register_pay{font-size:22px; font-weight:bold; color:#FF6600}
.register_sub{ background:url(/Content/images/register5.gif); width:125px; height:35px; cursor:pointer; border:0 none;}
.register_sub1{background:url(/Content/images/register8.gif); width:125px; height:35px; cursor:pointer; border:0 none;}
.td4{ font-size:12px;}
.td1{ text-align:right;}
.height35{height:35px;}
.tdposition{height:40px; line-height:40px; vertical-align:middle; position:relative;}
.tdposition img{vertical-align:middle; position:relative; top:40%;}
.inpposition{width:100px; float:left;}
.imgposition{float:left; margin-left:10px;}
.td1 em{padding:20px; color:#F00;}
.texposition{ margin-left:15px; float:left;}
.w150{width:150px;}
.button_g{background:url(/Content/images/button_g.gif) no-repeat; border:0; width:120px; height:26px; margin-left:70px; cursor:pointer;}
.button_next{background:url(/Content/images/button_next.gif) no-repeat; border:0; width:120px; height:26px; margin-left:70px; cursor:pointer;}
.register_table span{ font-size:16px; font-weight:bold; color:#F60; padding:0 10px;}
.register_table table .center_user_name{color:#f18103; font-weight:bold;}
/***用户列表***/
.user_list{ width:100%; font-size:12px; float:left;}
.user_list .list_title{ width:1033px; color:#007310; font-size:16px; font-weight:bold; padding:0 0 0 7px; height:30px; line-height:30px; border-bottom:1px solid #d3d3d3;}
.user_list .list_head{ width:100%;}
.user_list .list_input{ width:90px; padding-left:5px; color:#73a2b2; height:18px; line-height:18px; border:1px solid #e0e1e3; border-top-color:#87abb9; border-left-color:#87abb9;}
.user_list .list_input_checkbox{margin-right:20px; margin-left:5px; vertical-align:middle;}
.user_list .list_select{ width:85px; height:20px; border:1px solid #7f9db9;}
.user_list .widthinput{ height:22px; width:155px;  border:1px solid #e0e1e3; border-top-color:#87abb9; border-left-color:#87abb9; color:#888888;line-height:22px; font-size:14px;}
.user_list .chaxun{padding:0\9;}
.user_list .list_submit{ width:48px; height:25px; border:0 none; line-height:25px; cursor:pointer;}
.user_list .textalign{ text-align:right;}
.user_list .list_content{border:1px solid #bcdae4; clear:both;}
.user_list .list_content table{ text-align:center; margin-bottom:10px;}
.user_list .list_content table th{ font-weight:400;  height:28px; line-height:28px; background:url(/Content/images/order_list1.gif) repeat-x;border-bottom:1px solid #bcdae4; border-left:1px solid #bcdae4;}
.user_list .list_content table tr td{ height:28px; border-bottom:1px solid #bcdae4;}
.user_list .list_content table span{ color:#ff0000;}
.user_list .list_content table .border0{ border-left:0 none;}
.user_list .list_content table tr td input{width:95%;}
.user_list .list_pager{ float:right;}

/*权限树*/
.functionSet{width:100%;}
.functionSet .user_text{margin-left:20px;}
.functionSet .list_title{ width:1033px; color:#007310; font-size:16px; font-weight:bold; padding:0 0 0 7px; height:30px; line-height:30px; border-bottom:1px solid #d3d3d3;}
.functionSet .save_btn{width:53px; height:25px; border:none; background:url("/content/Images/sw_save.gif")}
.functionSet .reset_btn{width:53px; height:25px; border:none; background:url("/content/Images/cancel.gif")}
.functionSet .btn{width:100%; text-align:right; padding-top:10px;}
.functionSet ul li{margin:0; padding:0;}
.functionSet .sp_shiplist_title{border-bottom: 2px solid #CCCCCC; font-size: 14px; font-weight: bold; height: 28px; line-height: 30px; margin-top: 5px; padding-left: 10px; width: 740px;}
.functionSet .treeL0{ margin-top:15px;}
.functionSet .treeL0 li{ line-height:25px;}
.functionSet .treeL0_li_span{color:#0669b2; font-size:16px; font-weight:bold; font-family:"微软雅黑"}
.functionSet .treeL1{ padding-left:18px;}
.functionSet .treeL1 li{ line-height:25px;}
.functionSet .treeL1_li_span{color:#009f3c; font-size:14px; font-weight:bold; font-family:"微软雅黑"}
.functionSet .treeL2{ padding:5px 0 5px 18px;}
.functionSet .treeL2 li{line-height:23px;}
.functionSet .treeL2_li_span{color:#007fff; font-weight:bold; font-size:14px; font-family:"微软雅黑"}
.functionSet .treeL3{padding:2px 0 5px 20px;}
.functionSet .treeL3 li{line-height:23px;}
.functionSet .treeL3_li_span{color:#8b00ff; font-size:12px; font-weight:bold; font-family:"微软雅黑"}

.functionSet .plug-in{padding:3px 0 3px 20px;}
.functionSet .plug-in li{ float:left; display:block; text-overflow:ellipsis; white-space:nowrap; padding-right:20px;}
.functionSet .plug-in_li_span{color:red;font-size:12px;font-weight:bold;font-family:"微软雅黑"}

.functionSet .st_plug-ins{padding:3px 0 3px 18px;}
.functionSet .st_plug-ins li{ float:left; display:block; text-overflow:ellipsis; white-space:nowrap; padding-right:20px;}
.functionSet .st_plug-ins_li_span{color:red;font-size:14px;font-weight:bold;font-family:"微软雅黑"}

.functionSet .function{padding:0 0 3px 20px;}
.functionSet .function li{ line-height:23px;}
.functionSet .function_li_span{color:#fd6500 ;font-weight:bold; font-size:12px;font-family:"微软雅黑"}

.functionSet .treeL5{  padding:3px 0 5px 20px;}
.functionSet .treeL5 li{float:left; width:100px; display:block; text-overflow:ellipsis; white-space:nowrap;}
.functionSet .treeL5_li_span{color:red;font-weight:bold;font-family:"微软雅黑"}

.span_down{background:url("/content/Images/down.gif") no-repeat 0 1px; padding-left:17px;}
.span_up{background:url("/content/Images/up.gif") no-repeat 0 1px; padding-left:17px;}
.funcMenu_bg{background:url("/content/Images/fwdw1.gif") no-repeat;}
.funcMenu_title1{background-position:7px 4px;}
.funcMenu_title2{background-position:6px -20px;}
.funcMenu_title3{background-position:7px -42px;}
.funcMenu_title4{background-position:7px -67px;}
.funcMenu_title5{background-position:6px -92px;}
.funcMenu_title6{background-position:7px -117px;}
.funcMenu_title7{background-position:8px -140px;}
.funcMenu_title8{background-position:8px -165px;}