@{
    Layout = null;
}
@model ZDSystem.Model.ReceiptAccountInfoItemModel
<script type="text/javascript">
     function parseJson(form) {
        var array=form.serializeArray();
        var obj = {};
        for (var i = 0; i < array.length; i++) {
            var key = array[i]["name"];
            var value = array[i]["value"];
            obj[key] = value;
        }
        return obj;
    }


    $(function () {
        $('#mainForm').validate({
            errorClass: "error",
            focusInvalid: true,
            submitHandler: function (form) {
                if (!$(form).valid()) {
                    return false;
                }
                var data = parseJson($(form));
                var reg = /^[0-9]*(\.[0-9]{1,2})?$/;
                if (!reg.test(data.ChangeAmount)) {
                    alert("提现金额格式错误");
                    return false;
                }
                if (parseFloat(data.ChangeAmount) > parseFloat(data.Balance)) {
                    alert("提现金额超过余额");
                    return false;
                }
                if (data.Remark.length == 0) {
                    alert("备注不能为空");
                    return false;
                }
                data.ChangeType = 3;
                $.ajax({
                    type: "post",
                    data: data,
                    url: "/ReceiptAccountInfo/Draw",
                    success: function (data) {
                        if (data.success) {
                            alert("提现成功");
                            refreshCurrentPage();
                            return true;
                        }
                        else {
                            alert(data.info);
                            return false;
                        }
                    },
                    error: function () {
                        alert("请求出错");
                    }
                });
            },
            rules: {
                Remark: { required: true },
                ChangeAmount: { required: true }
            }
        });
    });

    var gabolreg = /^[0-9]*(\.[0-9]{1,2})?$/;

    $('input[name=ChangeAmount]').keyup(function () {
        if (gabolreg.test($(this).val())) {
            $('#tip').text(convertCurrency($(this).val()));
        }
        else {
            $('#tip').text("提现金额格式错误");
        }
    });

    function convertCurrency(money) {
        //汉字的数字
        var cnNums = new Array('零', '壹', '贰', '叁', '肆', '伍', '陆', '柒', '捌', '玖');
        //基本单位
        var cnIntRadice = new Array('', '拾', '佰', '仟');
        //对应整数部分扩展单位
        var cnIntUnits = new Array('', '万', '亿', '兆');
        //对应小数部分单位
        var cnDecUnits = new Array('角', '分', '毫', '厘');
        //整数金额时后面跟的字符
        var cnInteger = '整';
        //整型完以后的单位
        var cnIntLast = '元';
        //最大处理的数字
        var maxNum = 999999999999999.9999;
        //金额整数部分
        var integerNum;
        //金额小数部分
        var decimalNum;
        //输出的中文金额字符串
        var chineseStr = '';
        //分离金额后用的数组，预定义
        var parts;
        if (money == '') { return ''; }
        money = parseFloat(money);
        if (money >= maxNum) {
            //超出最大处理数字
            return '';
        }
        if (money == 0) {
            chineseStr = cnNums[0] + cnIntLast + cnInteger;
            return chineseStr;
        }
        //转换为字符串
        money = money.toString();
        if (money.indexOf('.') == -1) {
            integerNum = money;
            decimalNum = '';
        } else {
            parts = money.split('.');
            integerNum = parts[0];
            decimalNum = parts[1].substr(0, 4);
        }
        //获取整型部分转换
        if (parseInt(integerNum, 10) > 0) {
            var zeroCount = 0;
            var IntLen = integerNum.length;
            for (var i = 0; i < IntLen; i++) {
                var n = integerNum.substr(i, 1);
                var p = IntLen - i - 1;
                var q = p / 4;
                var m = p % 4;
                if (n == '0') {
                    zeroCount++;
                } else {
                    if (zeroCount > 0) {
                        chineseStr += cnNums[0];
                    }
                    //归零
                    zeroCount = 0;
                    chineseStr += cnNums[parseInt(n)] + cnIntRadice[m];
                }
                if (m == 0 && zeroCount < 4) {
                    chineseStr += cnIntUnits[q];
                }
            }
            chineseStr += cnIntLast;
        }
        //小数部分
        if (decimalNum != '') {
            var decLen = decimalNum.length;
            for (var i = 0; i < decLen; i++) {
                var n = decimalNum.substr(i, 1);
                if (n != '0') {
                    chineseStr += cnNums[Number(n)] + cnDecUnits[i];
                }
            }
        }
        if (chineseStr == '') {
            chineseStr += cnNums[0] + cnIntLast + cnInteger;
        } else if (decimalNum == '') {
            chineseStr += cnInteger;
        }
        return chineseStr;
    }
</script>
<form id="mainForm" method="post">
<input type="hidden" name="__id" value="@Model.CurrentModel.AccountId" />
<input type="hidden" name="Balance" value="@Model.CurrentModel.Balance" />
<table>
    <tr height="20">
        <td class="textalign_r">
            当前账户余额：
        </td>
        <td class="textalign_l" style=" color:Red">
            @Model.CurrentModel.Balance
        </td>
    </tr>
    <tr height="20">
        <td class="textalign_r">
            提现金额：
        </td>
        <td class="textalign_l">
           <input class="widthinput" type="text" name="ChangeAmount"  value=""  style="width:200px"/>
        </td>
    </tr>
    <tr height="20">
     <td class="textalign_r">
            备注
        </td>
        <td class="textalign_l">
            <textarea name="Remark"  style=" width:200px; height:80px;" ></textarea>
        </td>
    </tr>
</table>
     <p id="tip" style=" color:Red; font-size:16px; text-align:center"></p>
</form>

