@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>NoPermission</title>
    <link href="/Content/comm.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="bgdivk">
    <div class="bgdivk_mian">
        <div class="bg_Img">
            <img src="/Content/images/warning_pic.png" /></div>
        <div class="bg_right">
            <div class="bg_title">
                对不起，您没有访问权限，请联系管理员</div>
        </div>
    </div>
    </div>
</body>
</html>